<!DOCTYPE html>
<html>
  <head>
    <title>SurfsUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Amatic+SC', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="body">
    <%= render "layouts/navbar" %>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>">
        <%= value %><a href="#" class="close" data-dismiss="alert">X</a>
      </div>
    <% end %>
    <div class="row d-flex justify-content-center">
      <h1 id="page-title">Surfs Up</h1>
    </div>
    <div class="row justify-content-center">
      <%= form_with url: get_surf_path do |f| %>
        <%= select_tag("surf_spot", options_for_select(@surf_spots), prompt: "Choose your spot...", class: 'dropdown', onchange: "this.form.submit();") %>
      <% end %>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
